.idea
YOLOv8/dataset

**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp

**/.DS_Store

**/*.pt

src/two_stage_model/stats.csv

**/__pycache__

!two-stage-model/LeakAI_diff_data_labeler/*.png

LeakAI_diff_data_labeler.zip
/src/logs/
/src/heat_map_folder/
/src/test_logs/
/src/refs/
evaluation_results/
